$color_blue1: #1a0dab;
$color_blue2: #385998;
$color_blue3: #3bc2f5;

$color_green1: #006621;
$color_green2: #01c182;

$color_grey1: #545454;
$color_grey2: #2b3c4d;
$color_grey3: #979fa7;
$color_grey4: #262626;
$color_grey5: #2b3c4d;
$color_grey6: #fbfcff;
$color_grey7: #c3c9d0;
$color_grey8: #516375;
$color_grey9: #7f7f7f;
$color_grey10: #616770;

$color_red1: #ed4384;

$color_purple1: #c33bf5;
