@import '../../../../constants/colors.scss';

.preview-label {
    display: flex;
    align-items: center;
    color: $color_grey8;

    .icon {
        font-size: 24px;
        color: #c3c9d0;
    }

    .text {
        margin-left: 12px;
    }
}
